<app-header [title]="title" backRoute="/inicio"></app-header>

<ion-content padding>
  <ion-button expand="full" color="primary" (click)="presentAlert()">
    1 - Basic Alert !
  </ion-button>
  <ion-button expand="full" color="secondary" (click)="presentAlertMultipleButtons()">
    2 - Multiple Alert !
  </ion-button>
  <ion-button expand="full" color="success" (click)="presentAlertConfirm()">
    3 - Confirm Alert !
  </ion-button>
  <ion-button expand="full" color="danger" (click)="presentAlertPrompt()">
    4 - Form Alert !
  </ion-button>
  <ion-button expand="full" color="medium" (click)="presentAlertRadio()">
    5 - Radio Alert !
  </ion-button>
  <ion-button expand="full" color="dark" (click)="presentAlertCheckbox()">
    6 - CheckBox Alert !
  </ion-button>
  <ion-button expand="full" color="warning" (click)="presentInput()">
    <ion-text color="dark">7 (CUSTOM) - Input Alert !</ion-text>
  </ion-button>
</ion-content>
